@model IEnumerable<RestoreFootball.Models.Player>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

<h1>Players</h1>
<a class="create-new" asp-action="Create">Create New</a>
<table id="player-table" class="table">
    <thead class="primary">
        <tr>
            <th id="name-label">
                Name
            </th>
            <th id="rating-label">
                Rating
            </th>
            <th id="actions-label"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @item.FirstName @item.LastName
                </td>
                <td>
                    £@(new Random().Next(2,9)) to unlock
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="actionIcon fas fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="actionIcon fas fa-info-circle"></i></a>
                </td>
            </tr>
    }
    </tbody>
</table>
