@using RestoreFootball.Models;
@model RestoreFootball.Models.Player
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/dropdown.css" rel="stylesheet" />
<link href="~/css/signup.css" rel="stylesheet" />
<link href="~/css/teams.css" rel="stylesheet" />
<script src="~/js/dropdown.js"></script>
<script src="~/js/form.js"></script>
<script src="~/js/teams.js"></script>
<script src="~/js/results-modal.js"></script>

<div class="text-center">
    <div class="bordered-container">
        <h1 class="display-5">Sign Up</h1>
        <div id="add-existing">
            <p class="text">Enter your name below to sign up for Wednesday</p>
            <div class="dropdown">
                <input type="text" placeholder="Enter your name..." id="playerSearch" onkeyup="filterFunction()">
                <div id="dropdown-content" class="dropdown-content">
                    @{
                        foreach (var player in ViewBag.RemainingPlayers)
                        {
                            <p class="dropdown-element" value=@player.Id onclick="addExistingPlayer(this)">@player.FirstName @player.LastName</p>
                        }
                    }
                </div>
            </div>
            <p class="subtleLink" onclick="switchForm()">Can't see your name? </p>
        </div>
        <div id="add-new" class="hide">
            <input name="FirstName" class="newPlayerInput" type="text" placeholder="First Name" id="firstName">
            <input name="LastName" class="newPlayerInput" type="text" placeholder="Last Name" id="lastName">
            <input value="Add" class="addButton" onclick="addNewPlayer()">
        </div>
        <div id="success-view" class="hide">
            <p id="success">Successfully signed up for Wednesday</p>
            <p class="subtleLink" onclick="resetForm()">Add another?</p>
        </div>
    </div>
    <div class="bordered-container">
        <h1 class="display-5">Teams</h1>
        <div class="row">
            <div id="yellow" class="col-sm-2">
                <h3 class="team-header">Yellows</h3>
            </div>
            <div id="green" class="col-sm-2">
                <h3 class="team-header">Greens</h3>
            </div>
            <div id="orange" class="col-sm-2">
                <h3 class="team-header">Oranges</h3>
            </div>
            <div id="non-bibs" class="col-sm-2">
                <h3 class="team-header">Non-Bibs</h3>
            </div>
        </div>
        <button type="button" onclick="displayScores()" class="button" data-toggle="modal" data-target="#ResultsModal">
            Enter Results
        </button>
    </div>
    @await Html.PartialAsync("ResultsModalPartial")
</div>
