tr:hover {
    cursor: pointer;
}

#edit-content {
    color: white
}

.grouping {
    width: 350px;
}

.groupingSearch {
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 24px;
    padding: 10px 20px 10px 55px;
    border: none;
    border-radius: 15px;
    border-bottom: 1px solid #002208;
    background-color: #00482F;
    width: inherit;
    color: white;
}

@media only screen and (max-width: 400px) {
    .groupingSearch {
        max-width: 300px;
    }
}

.groupedPlayer {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.groupedPlayer:hover {
    cursor: pointer;
}

.add-grouping {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    display: block;
    width: 200px;
    text-align: center;
    margin: auto;
}


.add-grouping:hover {
    background-color: forestgreen;
}

.delete-grouping {
    background-color: darkred;
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    margin: auto; 
    display: block;
    text-align: center;
}


    .delete-grouping:hover {
        background-color: #9f0000;
    }

.score-line {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
}