.newPlayerInput {
    font-size: 24px;
    padding: 10px 30px 10px 30px;
    border: none;
    border-bottom: 1px solid #002208;
    background-color: #00482F;
    border-radius: 15px;
    margin: 5px;
    color: white;
    width: 200px;
}

.newPlayerInput:focus {
    outline: 2px solid #00340c;
}

/* Dropdown Button */
.addButton {
    background-color: #04AA6D;
    border-radius: 15px;
    color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #002208;
    cursor: pointer;
    width: 100px;
    margin: 5px;
    text-align: center;
}

#success {
    color: lawngreen;
}

.playerSearch {
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 24px;
    padding: 10px 20px 10px 55px;
    border: none;
    border-bottom: 1px solid #002208;
    background-color: #00482F;
    border-radius: 15px;
    color: white;
    width: 100%;
    max-width: 300px;
}

/*@media only screen and (max-width: 400px) {
    .playerSearch {
        max-width: 300px;
    }
}

@media only screen and (max-width: 350px) {
    .playerSearch {
        max-width: 250px;
    }
}*/


/* The search field when it gets focus/clicked on */
.playerSearch:focus {
    outline: 2px solid #00340c;
}
