html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.showBlock {
    display: block;
}

.showInlineBlock {
    display: inline-block;
}

/* make each h3 header from home index.cshtml the color that it represents*/

#orange {
    color: orange;
}

#yellow {
    color: yellow;
}

#green {
    color: green;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

