html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: #00482F;
}

body {
    margin-bottom: 60px;
    /*background: #424549;*/
    background-image: url('sky.jpg');
}

.showBlock {
    display: block;
}

.showInlineBlock {
    display: inline-block;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    background-color: seagreen;
    margin: auto;
}
/* Spacing */
td, th {
    border: 1px solid #005638;
    padding: 20px;
    text-align: center;
}

.primary {
    /*background-color: #595959;*/
    background-color: #00482F;
    color: white;
}

#name-label {
    width: 250px;
}

#rating-label {
    width: 200px;
}

#actions-label {
    width: 250px;
}

tbody > tr:hover {
    background-color: green;
}

#player-table {
    max-width: 600px;
}

#gameweek-table{
    max-width: 800px;
}

.actionIcon {
    color: #595959;
}
    .actionIcon:hover {
        color: #3b3b3b
    }

@media only screen and (min-width: 800px) {
    .actionIcon {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.subtleLink {
    padding-top: 10px;
    color: gray;
    text-decoration: underline;
    font-size: 18px;
}

    .subtleLink:hover {
        cursor: pointer;
    }

.navbar {
    font-weight: bold;
    color: gray;
}

.display-4 {
    font-weight: bold;
    color: darkgray;
}

.display-5 {
    font-weight: bold;
    color: darkgray;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 3px solid #00482F;
}

.text {
    color: darkgray;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
}

.col-sm-2 {
    width: 160px;
    font-weight: bold;
}

.bordered-container {
    margin: auto;
    margin-bottom: 5px;
    border: 3px solid #00482F;
    border-radius: 15px;
    background-color: #235836;
    max-width: 800px;
}

/*@media only screen and (max-width: 800px) {
    .bordered-container {
        flex: 1;
    }
}*/

.container-header-seperator{
    border-bottom: 3px solid #00482F;
}

.logo {
    width:100%;
    border-radius: 15px;
}

.showBlock {
    display: block;
}

.showInlineBlock {
    display: inline-block;
}

.hide {
    display: none;
}

h1 {
    text-align: center;
}

.create-new {
    display: block;
    text-align: center;
    background-color: #e7e7e7;
    color: dimgrey;
    border-radius: 10px;
    width: 150px;
    padding: 5px;
    font-size: 20px;
    border: 2px solid grey;
    margin: auto;
    margin-bottom: 10px;
}

    .create-new :has(:hover) {
        color: black;
    }

    .groupedPlayer{
        color: white;
    }


